body{
    color: white;
    background: rgb(47, 47, 47);
}

a {
    color: white;
    text-decoration: white;
}

h1 {
    font-size: 1.7rem;
    color: rgb(203, 203, 203);
    border-bottom: 2px solid black ;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(252, 144, 104), 0 0 0.5em rgb(255, 111, 58);
}

.image {
    max-width: 250px;
    max-height: 250px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 7px 7px 10px lightslategray;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}

.nav-link {
    background: rgb(19, 19, 19);
    color: white;
    box-shadow: 4px 4px 10px rgb(255, 111, 58);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 1rem;
    margin: 5px;
}

.nav-link:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.3);
}

.header {
    text-align: center;
}

.header-image{
    display: flex;
    justify-content: center;
}

.cta-text{
    text-align: center;
    margin: auto 25px; 
}

.project-button {
    font-size: 1.5rem;
    background: rgb(19, 19, 19);
    color: white;
    box-shadow: 4px 4px 15px rgb(255, 111, 58);
    border-radius: 20px;
    padding: 5px 10px;
}

.project-button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.3);
}

.about-section {
    text-align: center;
    margin: auto 25px
}

.references-section{
    margin: auto 25px;
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.reference-link{
    margin: 5vh auto;
    font-size: 2rem;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(252, 144, 104), 0 0 0.5em rgb(255, 111, 58);
    text-decoration: underline;
    font-weight: 700;    
}

.reference-link:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.5);
}

.contact-section{
    text-align: center;
    margin: auto 25px;
}

.contact-link {
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(252, 144, 104), 0 0 0.5em rgb(255, 111, 58);
}

.contact-link:hover {
    text-shadow: 2px 2px 3px black, 0 0 1.5em rgb(252, 144, 104), 0 0 1em rgb(255, 111, 58);
}

.contact-section h3 {
    font-size: 1.1rem;
}